<table>
	<thead>
	<tr>
		<td>Тег</td>
		<td>Ник</td>
		<td>Скайп</td>
		<td>Стим</td>
	</tr>	
	</thead>
	<tbody>
	<% @showings.each do |doc|%>
		<tr>
			<td><%= doc[:title] %></td>
		</tr>
			<% doc[:tour_tags].each do |tour_tag|%>
		<tr>
			<td><%= link_to tour_tag[:team_tag],('http://dota2.starladder.tv'+tour_tag[:squad_link]) %></td>
			<td><%= link_to tour_tag[:team_link], tour_tag[:team_link] %></td>
			<td><%= link_to tour_tag[:skype], ("http://dota2.starladder.tv"+tour_tag[:capitan_link]) %></td>
			<td><%= link_to tour_tag[:steam_id], tour_tag[:steam_id] %></td>
		</tr>
		<% end %>
	<% end %>
	</tbody>
</table>