<!DOCTYPE html>
<html>
  <head>
    <title>ParserApp</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand navbar-inverse" style="background-color: #9b0000;">

    <a class="navbar-brand" href="/">SLTV</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>

    <a class="nav-link <%= 'disabled' if current_page?(sltv_parser_index_path) || current_page?(root_path)%>" href=<%=sltv_parser_index_path%> >Парсинг SLTV</a>
    <a class="nav-link <%= 'disabled' if current_page?(wesg_parser_index_path) %>" href=<%=wesg_parser_index_path%>>Парсинг WESG</a>
    <a class="nav-link <%= 'disabled' if current_page?(steam_id_index_path) %>" href=<%=steam_id_index_path%>>Обработка SteamID</a>
    <a class="nav-link <%= 'disabled' if current_page?(faceit_index_path) %>" href=<%=faceit_index_path%>>Парсер Faceit</a>
      <ul class="navbar-nav mr-auto">

      </ul>
          <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "nav-link" %>
        <% else %>
          <%= link_to "Вход", new_user_session_path, class: "nav-link" %>
        <%# link_to "Регистрация", new_user_registration_path, class: "nav-link" %>
      <% end %>
    </div>
  </nav>

  <div class="container main">
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |name, message| %>
          <div class="alert <%= bootstrap_class_for(name) %>">
            <button class="close" data-dismiss="alert">&times;</button>
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div style="min-height: 1000px">
      
<div id="spinner"><img src="/assets/ajax-loader.gif"></div>
      <%= yield %>
    </div>
  </div>
  <div class="footer" style="height: 100px;"></div>

    
  </body>
</html>
